canvas id="preview" width="300" height="100" style="border:1px solid #000000; transform: scale(5,5) translate(40%, 40%)"

javascript:
  let frame
  canvas = document.getElementById("preview")
  ctx = canvas.getContext("2d")
  imageData = ctx.getImageData(0,0,300,100)
  url = `ws://${window.location.hostname}:${window.location.port}/subscribe`
  socket = new WebSocket(url)
  socket.onmessage = function(event) {
    console.log(+(new Date)/1000.0)
    atob(event.data).split('').map((v, i) => {
      imageData.data[i] = v.charCodeAt()
    })
    ctx.putImageData(imageData, 0, 0)
  };
